@font-face {
    font-family: principal;
    src: url(./font/IntroRust-Base.otf);
}

@font-face {
    font-family: secundaria;
    src: url(./font/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

.identificacao {
    margin-left: 450px;
}

.cima {
    font-family: principal;
    color: #013283;
    font-size: 35px;
    margin-left: 60px;
    margin-top: 70px;
}

.baixo {
    font-family: secundaria;
    color: #000000;
}

.botao-cpf {
    margin-left: 250px;
    margin-top: 40px;
}

.botaocpf {
    width: 350px;
    height: 80px;
    border-radius: 25px;
    border: none;
    background-color: #013283;
    color: white;
    font-family: principal;
    font-size: 35px;
    cursor: pointer;
}

.botaocpf span {
    color: #faae03;
}

.cpf {
    margin-left: -315px;
    margin-bottom: -15px;
}

.botao-cnpj {
    margin-left: 700px;
    margin-top: -80px;
}

.botaocnpj {
    width: 350px;
    height: 80px;
    border-radius: 25px;
    border: none;
    background-color: #013283;
    color: white;
    font-family: principal;
    font-size: 35px;
    cursor: pointer;
}

.botaocnpj span {
    color: #faae03;
}

.cnpj {
    margin-left: -310px;
    margin-bottom: -18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.7);
    z-index: 999;
}
  

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #faae03;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255); 
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white; 
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

p span {
    color: #013283;
}

h2 span {
    color: #013283;
}

@media (max-width: 768px) {
    .identificacao {
        margin-left: 15px;
    }

    .botao-cpf {
        margin-left: 35px;
    }

    .botao-cnpj {
        margin-left: 35px;
        margin-top: 10px;
    }

    .modal-content {
        width: 300px;
        height: 800px;
    }
}